html,
body {
  margin: 0;
  padding: 0;
  /* background: rgb(32, 137, 236); */
  background: #000204;
}

#globe {
  filter: drop-shadow(0 0 0.95rem white);
  cursor: move;
}

#current {
  position: absolute;
  color: white;
  font-family: sans-serif;
  margin-left: 4%;
  padding-top: 4%;
  margin-top: 4%;
}
.color {
  background: grey;
}
h2 {
  color: white;
}
#recipe-div {
  background: whitesmoke;
  margin-left: 2%;
  margin-top: 2%;
  margin-right: 10%;
  margin-bottom: 4%;
}
#recipe-div p {
  color: white;
  padding-bottom: 2%;
}
a {
  color: white;
}

/* green color is #57BB86 */
/* black color is #000204 */
/* pink color is #ff3796 */
