html,
body {
  margin: 0;
  padding: 0;
  background: rgb(32, 137, 236);
}

#globe {
  filter: drop-shadow(0 0 0.95rem #44ddb7);
  cursor: move;
}

#current {
  position: absolute;
  color: pink;
  font-family: sans-serif;
  margin-left: 4%;
  margin-top: 4%;
}
.color {
  background: #81f3cd;
}
h2 {
  color: pink;
}
